<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
<connectionStrings><add name="MedicalInstitutionDatabaseEntities" connectionString="metadata=res://*/ClinicDatabaseModel.csdl|res://*/ClinicDatabaseModel.ssdl|res://*/ClinicDatabaseModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-1NJBBB0\SQLEXPRESS;initial catalog=MedicalInstitutionDatabase;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>